<html>
    <body>
        <center>
        <h2>
            Home EJS Page
            <a href="/login">Login</a>
            <a href="/signup">Signup</a>
        </h2>
    </center>
        
    </body>
</html>