<html>
    <body>
        <center>
        <h3> Login EJS Page</h3>
        <%=message%>
        <form action="/Login" method="post">
            Username: <input type="text" name="username" required/><br><br>
            Password: <input type="password" name="password" required/><br><br>
            <input type="submit"/>
        </form>
    </center>
    </body>
</html>