<html>
    <body>
        <center>
        <h3>SignUp EJS Page</h3>
        <form action="/Signup" method="post">
            Name: <input type="text" name="name" required/><br><br>
            Username: <input type="text" name="username" required/><br><br>
            Password: <input type="password" name="password" required/><br><br>
            <input type="submit"/>
        </form>
    </center>
    </body>
</html>